@import url(https://db.onlinewebfonts.com/c/249a3fc9a421b7d6c0a180ea2d22b388?family=Catamaran);
@import url(https://db.onlinewebfonts.com/c/0744a43ed7aac352ec78c1404c890d72?family=Gilroy-Light);
@import url(https://db.onlinewebfonts.com/c/6e4a9679e65cc320746c3e5d48e51f28?family=Raleway);
#backtop {
  position: fixed;
  right: 50px;
  bottom: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 18px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ed8a4c), to(#ea485c));
  background-image: linear-gradient(to right, #ed8a4c 0, #ea485c 100%);
  -webkit-box-shadow: 0 3px 32px rgba(236, 117, 81, 0.54);
          box-shadow: 0 3px 32px rgba(236, 117, 81, 0.54);
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 10000;
}

#header.navbar-shrink {
  border-bottom: 1px solid #333853;
}

#backtop a {
  color: #fff;
}

#backtop.backtop-show {
  bottom: 50px;
}

body {
  background-color: #1f2641;
}

.header {
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #1f2641;
  border-bottom: 1px solid #333853;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.nav__logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.nav__logo__link p {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  font-family: "Gilroy-Light";
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.nav__link {
  color: #fff;
  font-size: 18px;
  font-family: "Catamaran";
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  white-space: nowrap;
  font-weight: 500;
  padding-bottom: 12px;
  position: relative;
}
.nav-button {
  width: 180px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #10cb6c;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  font-family: "Catamaran";
  text-align: center;
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  white-space: nowrap;
}
.nav__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.nav__link:hover:after {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dark * {
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-1880 {
  max-width: 1880px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}